* {
  margin: 0;
}
.main-page {
  width: 100%;
  max-height: 1024px;
  background-color: #d0d7fe;
  padding: 119px 0;
}
.container {
  max-width: 1058px;
  height: 786px;
  background-color: #fff;
  margin: 0 auto;
}
